@model OnlineGadgetStore.Models.ShoppingCart

@{
    ViewData["Title"] = "View";
    ViewData["TotalPrice"] = 0;
}

<div>
    <form asp-action="CheckOut" asp-route-id="@Model.ID">
        <h2>Shopping Cart</h2>
        <input type="hidden" asp-for="ID" />
        <hr />
        <table class="table">
            <thead>
                <tr>

                    <th>
                        <label>Name</label>
                    </th>
                    <th>
                        <label>Quantity</label>
                    </th>
                    <th>
                        <label>Price</label>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LineProducts)
                {
                    <tr>
                        @*<td width="400">
                            @if (item.Product.ImageURLs.Count > 0)
                            {
                                <a asp-action="Details" asp-route-id="@item.ID">
                                    <img src="~/images/Products/@item.Product.ImageURLs[0].URL" alt="Your Image" class="center-block" height="200" />
                                </a>

                            }
                        </td>*@
                        <td>
                            <a asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductID">
                                @Html.DisplayFor(modelItem => item.Product.Name)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            $
                            @Html.DisplayFor(modelItem => item.Price)

                        </td>
                        <td>
                            <a asp-action="RemoveProduct" asp-route-id="@item.ID">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <div class="row">
            <div class="col-sm-2">
                <h4>Total: $ @Html.DisplayFor(model => model.TotalPrice)</h4>
            </div>
            <div class="col-sm-2">
                <input type="submit" class="btn btn-default" value="Check Out" />
            </div>
        </div>
    </form>
</div>

<br />
<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>
